body {
  background-color: black;
}
.navi{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer{
  position:fixed;
   bottom:0;
    width:100%; 
}
.caro{
  width:100%;
  height:600px;
}
.ca{
  width:100%;
  height:auto;
}

